/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

:root {
    --cor-principal: #DF2E38;
    --cor-secundaria: #FFFFFF;
    --cor-card: #dbdbdb;
    --cor-footer: rgb(35, 35, 35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kavoon", serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 1rem 1rem;
}

main {
    margin: 6rem auto 1rem;
}
.menu ul {
    display: flex;
}
.menu li {
    list-style: none;
    padding: 1rem;
}
.menu a {
    text-decoration: none;
    color: var(--cor-secundaria);
}
.logo a {
    text-decoration: none;
    color: var(--cor-secundaria);
}
.menu a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    padding: 1rem;
    transition: 0.5s;
    border-radius: 0.5rem;
}

article {
    background-color: var(--cor-secundaria);
    height: 10rem;
    border-radius: 0.2rem;

    margin: 0.7rem 0.7rem;
    display: grid;
    grid-template-columns: 10rem auto;
    border: solid 0.1rem rgb(226, 226, 226);
}

article:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
    box-shadow: 0 0 0.5rem rgb(179, 179, 179);
}
article img {
    border-radius: 0.2rem;
    margin: 0.5rem;
    height: 90%;
    width: 90%;
}
article h3 {
    color: #DF2E38;
    font-family: serif;
}
article p {
    font-family: serif;
    overflow: hidden;
    margin-top: 1rem;
}
article div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leia-mais {
    color: var(--cor-principal);
    text-align: right;
    margin: 1rem;
}

footer {
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-footer);
}
footer h3 {
    font-family: serif;
    color: rgb(206, 206, 206);
}